<div class="container-fluid col d-flex justify-content-xl-center">
<div class="card col d-flex ">

  <h5 class="card-header info-color white-text text-center py-4">
    <%# <strong>CREATE RECIPE</strong> %>
  </h5>
  <p id="notice"><%= notice %></p>
 <%= form_for(@article, html: {multipart: true}) do |f| %>
  <% if article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>
    <ul>
        <% article.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="card-body px-lg-5 pt-0">
    <!-- Form -->
    <form class="text-center" style="color: #757575;" action="#!">
      <!-- Email -->
      <div class="md-form mt-4">
         <%= f.label :title %>
         <%= f.text_area :title %>
      </div>
      <div class="md-form mt-4">
          <%= f.label :Instructions %>
          <%= f.text_area :body %>
      </div>
      <div class="md-form mt-4">
        <%= f.label :image, "Attach an Image" %><br/>
        <%= f.file_field :image %>
      </div>
     
      <!-- Sign in button -->
      <%= f.submit %>
    </form>
   </div>
<%end%>
</div>
</div>
