<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
     <nav>      
      <div class="logo">
         <a href="#"><%= image_tag("logo.jpg", :alt => "logo", :class => "logo_img")%></a>
      </div>
      <div class="nav_menu">
        <ul class="nav_list">
          <li><%= link_to 'HOME', :root %></li>
          <li><%= link_to 'RECIPES', articles_path %></li>
           <li><%= link_to 'WRITE A RECIPE', new_article_path %></li>
         </ul>
      </div>
      <div class="login_container">
        <ul class="nav_login">
      <% unless current_user %> 
        <li><%= link_to 'LOGIN |', login_path%> </li> 
        <li><%= link_to 'REGISTER', signup_path%></li>
      <%else%>   
      <li>Logged in as  <%= current_user.name%></li>
      <li><%= link_to "Log Out", session_path("current"), method: "delete" %></li>     
      <% end %>
      <li><a href="#"><i class="fas fa-search"></i></a></li>
     </ul>
       </div>
    </nav>
  </header> 
  <main>    
    <%= yield %>
    </main>
    <footer>
     <div class="footer_logo">
      <a href="#"><%= image_tag("logo.png", :alt => "logo", :class => "footer_logo_img")%></a>
      </div>
      <div class="footer_rights_container">
        <ul class="footer_rights">
          <li class="orange_leaf"><a href="#">Privacy Policy </a></li>
          <li class="orange_leaf"><a href="#">Terms & Conditions </a></li>
          <li><p>Copyright. All rights reserved.</p></li>
        </ul>
      </div>
      <div class="footer_social_container">
        <ul class="footer_social flex">
          <li><p>Connect with us:</p></li>
          <li><a href="#"><i class="fab fa-twitter"></i></a></li>
          <li><a href="#"><i class="fab fa-instagram"></i></a></li>
          <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
        </ul>
      </div>
    </footer>
  </body>
</html>
